<IfModule mod_rewrite.c>
    RewriteEngine On

    # ... Existing rules

    # Redirect to URI without front controller to prevent duplicate content
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # ... Existing rules
</IfModule>